@font-face {
    font-family: 'Beyblade Metal Fight';
    src: url('../fonts/BeybladeMetalFightRegular.woff2') format('woff2'),
        url('../fonts/BeybladeMetalFightRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Beyblade Metal Fight';
    background-color: rgb(18,12,55);
    color: white;
}

h1 {
    font-weight: bold;
    font-style: normal;
    font-size: 4.5em;
    color: rgb(219,46,25);
}

h2, .h2 {
    font-weight: bold;
    font-style: normal;
    font-size: 2.5em;
}

.title {
    width: 650px;
    margin: auto;
    font-size: 1em;
    color: rgb(106,192,228);
}

.state {
    width: 800px;
    margin: auto;
    text-align: center;
}

.stats {
    width: 77%;
    margin: auto;
}

.stat {
    height: 75px;
    text-align: center;
}

.data-point {
    height: 35px;
    font-size: 1.5em;
    color: rgb(219,46,25);
}
span.data-point {
    font-size: 1em;
}

.graphs {
	width: 875px;
    margin: auto;
}
#cumulative-over-time {
	background-color: white;
}

#map {
    height: 300px;
    width: 500px;
    padding-top: 1.5em;
    margin: auto;
}

.footer {
    width: 65%;
    height: 60px;
    padding-top: 35px;
    margin: auto;
}

div#contact {
    float: left;
    padding-top: 10px;
}

div#github {
    float: right;
}

img#github-logo {
    width: 50px;
    height: 50px;
}

a#contact-link {
    color: inherit;
    text-decoration: none;
}
